*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  /* border: 1px solid ;
  display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  
}
.nav{
  /* display:flex;
  justify-content: flex-end;
  margin: 3px;
  border: 2px solid; */
}
/* .main{
  border: 1px solid ;
  display: flex;
  justify-content: center;
  
} */

/* .nav a {
  padding:10px;
}
.decks{
  display: flex;
  border: 1px solid;
  justify-content:center;
  margin: 20px;
}
.deck{
  display: flex;
 margin: 10px;
  border: 1px solid;
  padding:20px;
}
img{
  width: 100px;
} */
